.reasons {
  $reasonsClass: &;

  width: 100%;
  text-align: center;
  line-height: 1.625rem;
  text-transform: uppercase;
  font-family: "PT Sans";

  &__header {
    margin-top: 2.69rem;
    margin-bottom: 1.19rem;
  }

  &__decoration {
    background-color: $light-grey-blue;
  }

  &__header,
  &__title {
    color: black;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &__intro,
  &__number,
  &__description {
    color: #333333;
    font-size: 0.875rem;
  }

  &__scenery {
    width: 100%;
    height: 16.25rem;
  }

  &__summary {
    height: 33vh;
    position: relative;
    background-color: rgb(239,239,239);

    &--distinct {
      background-color: $light-grey-blue;
      color: white;

      #{$reasonsClass}__title,
      #{$reasonsClass}__number,
      #{$reasonsClass}__description {
        color: white;
      }
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // margin: 0 8.6vw;
  }
}

.features {

  &__list {
    text-align: left;
    line-height: 1.625rem;
    text-transform: uppercase;
  }

  &__title {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1.6vh;
  }

  &__description {
    color: #333333;
    font-size: 0.875rem;
  }

  &__item {
    margin-left: 4.4rem;
    margin-right: 2.56rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    // display: inline-block;

    &::before {
      content: "";
      display: block;
      height: 2.8rem;
      width: 2.9rem;
      position: absolute;
      left: -3.4rem;
      transform: translateY(-30%);
      // top: 4vh;
      // background-position: 6.9vw 4.1vh;
      background-repeat: no-repeat;
      background-size: 80%;
    }

    &--accommodation::before {
      background-image: url("../img/icon-house.svg");
    }

    &--souvenirs::before {
      background-image: url("../img/icon-gift.svg");
    }

    &--food::before {
      background-image: url("../img/icon-burger.svg");
    }
  }
}
